{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        {% if app.user %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <h4>Your Profile</h4>
                    </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label"><strong>Email</strong></label>
                                <p class="form-control-plaintext">{{ app.user.email }}</p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"><strong>Name</strong></label>
                                <p class="form-control-plaintext">{{ app.user.name }}</p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"><strong>Firstname</strong></label>
                                <p class="form-control-plaintext">{{ app.user.firstname }}</p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"><strong>Phone</strong></label>
                                <p class="form-control-plaintext">{{ app.user.phone }}</p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"><strong>Address</strong></label>
                                {% if app.user.address %}
                                    <p class="form-control-plaintext">
                                        {{ app.user.address.getAddress() }} <br>
                                        {{ app.user.address.getCity() }} <br>
                                        {{ app.user.address.getPostalcode() }} <br>
                                        {{ app.user.address.getCountry() }}
                                    </p>
                                {% else %}
                                    <p class="form-control-plaintext text-muted">No address provided</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_user_edit', {'id': app.user.id, 'route': 'app_user_account'}) }}" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="card-body">
                            {% if app.user.orders|length > 0 %}
                                <ul class="list-group">
                                    {% for order in app.user.getOrders %}
                                        <li class="list-group-item">
                                            <a href="{{path('app_order_show', {'id': order.id})}}">Order #{{ order.id }} - {{ order.total }}$ - Placed on {{ order.date|date('Y-m-d') }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="form-control-plaintext text-muted">No orders placed yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12">
                    <div><a href="{{path('app_login')}}">Login</a> to access your account details.</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}